{% load deviceutils %}
{% if vlans %}
<div>
    <h2>Subscribed VLANs</h2>
    {% for vlan, ips in vlans.items %}
    <h3>{{ vlan }}</h3>
        <ul>
            {% for ip, vulns in ips.items %}
            <li><a href="{{SITE_URL}}{% url device ip %}">{{ ip }} ({{ip|to_hostname}})</a></li>
                {% for vuln in vulns %}
                <ul>
                    <li>{{ vuln.end|date:"F j, Y"}}</li>
                    <ul>
                        {% for v in vuln.get_vulns %}
                        <li><a href="{{SITE_URL}}{% url plugin v.nessusid 'latest' %}">{{v.nessusid}} - {{ v.name }}</a></li>
                        {% endfor %}
                    </ul>
                </ul>
                {% endfor %}
            {% endfor %}
        </ul>
    </ul>
    {% endfor %}
</div>
{% endif %}
