{% load deviceutils %}
{% if machines %}
<div>
    <h2>Subscribed Devices</h2>
    {% for m, vulns in machines.items %}
    <h3>
        <a href="{{SITE_URL}}{% url device m %}">{{ m }} {% if m|is_hostname %}{%else%}({{m|to_hostname}}){% endif %}</a>
    </h3>
    <ul>
        {% for vuln in vulns %}
        <li>{{ vuln.end|date:"F j, Y" }}<ul>
            {% for p in vuln.get_vulns %}
                <li><a href="{{SITE_URL}}{% url plugin p.nessusid 'latest' %}">{{ p.name }}</a></li>
            {% endfor %}
        </li></ul>
        {% empty %}
            <li><b>No vulnerabilities</b></li>
        </li></ul>
        {% endfor %}
    </ul>
    {% endfor %}
</div>
{% endif %}
