<html>
    <head>
        <title>View Hostname Details</title>
    </head>

    <body>
        {% ifequal days_back -1 %}
        <h1>Database results for {{ hostname }}</h1>
        {% else %}
        <h1>Dashboard view for {{ hostname }}</h1>
        <h3>{{ days_back }} days of information</h3>
        <div class='details'><a href='{% url sarimui.views.hostname_view hostname %}'>Detail view</a></div>
        {% endifequal %}
        <h2>{{ ips|length }} IP association{{ ips|length|pluralize }} found</h2>
        {% if ips %}
            <ul class='ip_list'>
            {% for ip,ip_data in ips.items %}
            <li class='ip_item'><h2>
                {% ifequal days_back -1 %}
                <a href='{% url sarimui.views.ip_view ip %}'>{{ ip }}</a>
                {% else %}
                <a href='{% url sarimui.views.dashboard_ip_view ip %}'>{{ ip }}</a>
                {% endifequal %}
                    (
                    {% ifequal ip_data.hostname 'NoMACAvailable' %}
                        No MAC Available
                    {% else %}
                        {% ifequal days_back -1 %}
                        <a href='{% url sarimui.views.mac_view ip_data.mac.mac %}'>{{ip_data.mac.mac}}</a>
                        {% else %}
                        <a href='{% url sarimui.views.dashboard_mac_view ip_data.mac.mac %}'>{{ip_data.mac.mac}}</a>
                        {% endifequal %}
                    {% endifequal %}
                    )
            </h2></li>
                {% if ip_data.scans %}
                <ul class='scan_list'>
                    <h3 class='scan_header'>Found {{ ip_data.vuln_total }} vulnerabilit{{ ip_data.vuln_total|pluralize:"y,ies" }} in {{ ip_data.scans|length}} scan{{ ip_data.scans|length|pluralize }}.</h3>
                    {% for scan, vulns in ip_data.scans %}
                    <li class='scan_item'>Scan ID <a href='{% url sarimui.views.scan_view scan.scanrun.id %}'>{{scan.scanrun.id}}</a>: {{ scan.end|date:"F j, Y" }}</li>
                        {% if vulns %}
                        <ul>
                            {% for name, plugin in vulns %}
                            <li class='vuln_item'>{{ name }} (<a href='{% url sarimui.views.plugin_view plugin %}'>{{plugin}}</a>)</a></li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    {% endfor %}
                </ul>
                {% else %}
                    <div class='empty'>No scans for this IP</div>
                {% endif %}
                </li>
            {% endfor %}
        {% else %}
            <h2>{{ hostname }} has no scan history</h2>
        {% endif %}
    </body>
</html>

