<html>
    <head>
        <title>View IP Details</title>
    </head>

    <body>
        <h1>Details for {{ ip }}</h1>
        {% if comments %}
        <div class='comments'>
            <h2>Comments</h2>
            <ul>
                {% for comment in comments %}
                <li>{{ comment }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        {% if macs %}
        <div class='macs'>
            <h2>Associated MACs</h2>
            <ul>
                {% for mac in macs %}
                <li>{{ mac }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        {% if scans %}
        <div class='scans'>
            <h2>Appeared in the Following Scans</h2>
            <ul>
                {% for scan in scans %}
                <li>Scan {{ scan.id }}: Started on {{ scan.start }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </body>
</html>
