<html>
    <head>
        <title>View IP Details</title>
    </head>

    <body>
        <h1>Database results for {{ ip }}</h1>
        <h2>{{ macs|length }} MAC association{{ macs|length|pluralize }} found</h2>
        {% if macs %}
            <ul class='mac_list'>
            {% for mac,mac_data in macs.items %}
            <li class='mac_item'><h2>
                {% ifequal mac_data.hostname 'NoHostAvailable' %}
                    No Hostname Available
                {% else %}
                    <a href='{% url sarimui.views.hostname_view mac_data.hostname %}'>{{mac_data.hostname}}</a>
                {% endifequal %}
                (<a href='{% url sarimui.views.mac_view mac %}'>{{ mac }}</a>)
            </h2></li>
                {% ifnotequal mac_data.scans|length 0 %}
                <ul class='scan_list'>
                    <h3 class='scan_header'>Found {{ mac_data.vuln_total }} vulnerabilit{{ mac_data.vuln_total|pluralize:"y,ies" }} in {{ mac_data.scans|length}} scan{{ mac_data.scans|length|pluralize }}.</h3>
                    {% for scan, vulns in mac_data.scans %}
                    <li class='scan_item'>Scan ID <a href='{% url sarimui.views.scan_view scan.id %}'>{{scan.id}}</a>: {{ scan.end|date:"F j, Y" }}</li>
                        {% if vulns %}
                        <ul>
                            {% for name, plugin in vulns %}
                            <li class='vuln_item'>{{ name }} (<a href='{% url sarimui.views.plugin_view plugin %}'>{{plugin}}</a>)</a></li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    {% endfor %}
                </ul>
                {% else %}
                    <div class='empty'>No scans for this MAC</div>
                {% endifnotequal %}
                </li>
            {% endfor %}
        {% else %}
            <h2>{{ ip }} has no scan history</h2>
        {% endif %}
    </body>
</html>

