<html>
    <head>
        <title>View IP Details</title>
    </head>

    <body>
        <h1>Database results for {{ ip }}</h1>
        {% for mac,mac_data in macs.items %}
            {% if forloop.first %}
            <h3>{{ macs|length }} MAC associations found</h3>
            <ul class='mac_list'>
            {% endif %}
                <li class='mac_item'><h2>{{ mac }}</h2></li>
                    <ul class='scan_list'>
                        {% for scan, vulns in mac_data.scans %}
                        {% if forloop.first %}
                        <li class='scan_header'>Found {{ vuln_total }} vulnerabilities in {{ mac_data.scans|length}} scans.</li>
                        {% endif %}
                        <li class='scan_item'>Scan ID {{scan.id}}: {{ scan.end|date:"F j, Y" }}</li>
                        {% for vuln in vulns %}
                            {% if forloop.first %}
                            <ul>
                            {% endif %}
                                <li class='vuln_item'>{{ vuln }}</li>
                            {% if forloop.last %}
                            </ul>
                            {% endif %}
                            {% empty %}
                        {% endfor %}
                        {% empty %}
                        <div class='empty'>No scans for this MAC</div>
                        {% endfor %}
                    </ul>
                </li>
            {% if forloop.last %}
            </ul>
            {% endif %}
        {% empty %}
            <h2>{{ ip }} has no scan history</h2>
        {% endfor %}
    </body>
</html>

