<html>
    <head>
        <title>View {{category}} Details</title>
    </head>

    <body>
        {% ifequal days_back -1 %}
        <h1>Database results for {{ entry }}</h1>
        {% else %}
        <h1>Dashboard for {{ entry }}</h1>
        <h3>{{ days_back }} days of information</h3>
        <div class='details'><a href='/{{entry}}'>Detailed view</a></div>
        {% endifequal %}
        <h2>{{ entries|length }} {{category}} association{{ entries|length|pluralize }} found</h2>
        {% if entries %}
            <ul class='entry_list'>
            {% for entry,entry_data in entries.items %}
            <li class='entry_item'><h2>
                {% ifequal entry_data.name 'NoNameAvailable' %}
                    No {{entry_data.hr_name}} Available
                {% else %}
                    {% ifequal days_back -1 %}
                    <a href='/{{entry_data.name}}'>{{entry_data.name}}</a>
                    {% else %}
                    <a href='/dashboard/{{entry_data.name}}'>{{entry_data.name}}</a>
                    {% endifequal %}
                {% endifequal %}
                {% ifequal days_back -1 %}
                (<a href='/{{ entry_data.alt_name }}'>{{ entry_data.alt_name }}</a>)
                {% else %}
                (<a href='/dashboard/{{ entry_data.alt_name }}'>{{ entry_data.alt_name }}</a>)
                {% endifequal %}
            </h2></li>
                {% ifnotequal entry_data.scans|length 0 %}
                <ul class='scan_list'>
                    <h3 class='scan_header'>Found {{ entry_data.vuln_total }} vulnerabilit{{ entry_data.vuln_total|pluralize:"y,ies" }} in {{ entry_data.scans|length}} scan{{ entry_data.scans|length|pluralize }}.</h3>
                    {% for scan, vulns in entry_data.scans %}
                    <li class='scan_item'>Scan ID <a href='{% url sarimui.views.scan_view scan.scanrun.id %}'>{{scan.scanrun.id}}</a>: {{ scan.end|date:"F j, Y - g:i:s A" }}</li>
                        {% if vulns %}
                        <ul>
                            {% for name, plugin in vulns %}
                            <li class='vuln_item'>{{ name }} (<a href='{% url sarimui.views.plugin_view plugin %}'>{{plugin}}</a>)</a></li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    {% endfor %}
                </ul>
                {% else %}
                    <div class='empty'>No scans for this MAC</div>
                {% endifnotequal %}
                </li>
            {% endfor %}
        {% else %}
            <h2>{{ ip }} has no scan history</h2>
        {% endif %}
    </body>
</html>
