{% extends 'base.html' %}

{% block sidebar %}
{% include 'fp_sidebar.html' %}
{% endblock %}

{% block main_body %}
<h1>False Positive Information</h1>
<h2>{{ plugin.summary }} - Nessus ID <a href="{% url plugin plugin.nessusid 'latest' %}">{{ plugin.nessusid }}</a></h2>
<table>
    <tr>
        <th>Entered by</th><td>{{ fp.added_by }}</td>
    </tr>
    <tr>
        <th>Added on</th><td>{{ fp.date_added|date:"F j, Y \a\t P" }}</td>
    </tr>
    <tr>
        <th>Last modified</th><td>{{ fp.last_modified|date:"F j, Y \a\t P" }}</td>
    </tr>
    <tr>
        <th>Version affected</th><td>{{ plugin.version }}</td>
    </tr>
    <tr>
        <th>Comments</th><td>{{ fp.comment }}</td>
    </tr>
</table>

<h2>IPs Included</h2>
{% if fp.include_all %}
<h3>All IPs are marked as false positives</h3>
{% else %}
    {% for ip in fp.includes.all %}
        {% if forloop.first %}
        <ul id='fp_includes'>
        {% endif %}
            <li><a href="{% url device ip %}">{{ ip }}</a></li>
        {% if forloop.last %}
        </ul>
        {% endif %}
    {% endfor %}
{% endif %}

<h2>IPs Specifically Excluded</h2>
{% for ip in fp.excludes.all %}
    {% if forloop.first %}
    <ul id='fp_excludes'>
    {% endif %}
        <li><a href="{% url device ip %}">{{ ip }}</a></li>
    {% if forloop.last %}
    </ul>
    {% endif %}
    {% empty %}
    <h3>No IPs are excluded</h3>
{% endfor %}

{% endblock %}
