{% extends 'base.html' %}

{% block sidebar %}
{% include 'false_positives/fp_sidebar.html' %}
{% endblock %}

{% block extra_head %}
<style type="text/css">
    li.button_holder {
        display: block;
    }
</style>
<script type="text/javascript">
    var disableButton = function(btnId) {
        $(btnId).parent().css( 'display', 'none');
    }

    var enableButton = function(btnId) {
        $(btnId).parent().css( 'display', 'block');
    }

    var removeInc = function() {
        var thisObj = this;
        $.ajax( {
            url: '{% url fp_modify_ajax %}',
            type: 'POST',
            error: function(xhr, txtStatus, error) { 
                $(thisObj).animate( { backgroundColor:'red' }).effect('pulsate',{},'fast');
                },
            success: function(data, txtStatus) {
                $(thisObj).remove();
                },
            dataType: "json",
            data: { fp: '{{fp.id}}',
                    action: 'remove_inc',
                    data: $(this).text()
                    }
            });
    }

    var removeExc = function() {
        var thisObj = this;
        $.ajax( {
            url: '{% url fp_modify_ajax %}',
            type: 'POST',
            error: function(xhr, txtStatus, error) { 
                $(thisObj).animate( { backgroundColor:'red' }).effect('pulsate',{},'fast');
                },
            success: function(data, txtStatus) {
                $(thisObj).remove();
                },
            dataType: "json",
            data: { fp: '{{fp.id}}',
                    action: 'remove_exc',
                    data: $(this).text()
                    }
            });
    }

    var addNewInc = function(event) {
        var thisObj = this;
        if(event.which == 13) {
            $.ajax( {
                url: '{% url fp_modify_ajax %}',
                type: 'POST',
                error: function(xhr, txtStatus, error) { 
                    $('#new_inc').animate({ backgroundColor: 'red'}).effect('pulsate',{},'fast'); 
                    },
                success: function(data, txtStatus) {
                    $("#allips").hide();
                    $("#add_all").show();
                    $(thisObj).parent().addClass('include');
                    $(thisObj).replaceWith(data.ip);
                    enableButton("#add_inc");
                    },
                dataType: "json",
                data: { fp: '{{fp.id}}',
                        action: 'add_inc',
                        data: $('#new_inc').val()
                        }
            });
        }
    }

    var addNewExc = function(event) {
        var thisObj = this;
        if(event.which == 13) {
            $.ajax( {
                url: '{% url fp_modify_ajax %}',
                type: 'POST',
                error: function(xhr, txtStatus, error) { 
                    $('#new_exc').animate({ backgroundColor: 'red'}).effect('pulsate',{},'fast'); 
                    },
                success: function(data, txtStatus) {
                    $(thisObj).parent().addClass('exclude');
                    $(thisObj).replaceWith(data.ip);
                    enableButton("#add_exc");
                    },
                dataType: "json",
                data: { fp: '{{fp.id}}',
                        action: 'add_exc',
                        data: $('#new_exc').val()
                        }
            });
        }
    }

    var addAllIps = function() {
        $.ajax( {
            url: '{% url fp_modify_ajax %}',
            type: 'POST',
            error: function(xhr, txtStatus, error) { 
                $('#add_all').animate({ backgroundColor: 'red'}).effect('pulsate',{},'fast'); 
                },
            success: function(data, txtStatus) {
                $('#allips').show();
                $('#add_all').hide();
                $('#add_all').parent().siblings('.include').remove();
                },
            dataType: "json",
            data: { fp: '{{fp.id}}',
                    action: 'add_all',
                    data: ''
                    }
        });
    }

    var saveChanges = function() {
        $.ajax( {
            url: '{% url fp_modify_ajax %}',
            type: 'POST',
            error: function(xhr, txtStatus, error) { 
                var jsonobj = eval( '(' + xhr.responseText + ')' );
                $("#messages").hide().html("<li class='error'>Change Unsuccessful! "+jsonobj.message+"</li>").fadeIn(1000);
                },
            success: function(data, txtStatus) {
                $("#messages").hide().html("<li class='success'>Changes Successfully Saved!</li>").fadeIn(1000);
                },
            dataType: "json",
            data: { fp: '{{fp.id}}',
                    action: 'change_details',
                    comments: $("#id_comments").val()
                  }
        });
    }


    $(document).ready(function() {
        $('li.include').live('click',removeInc);
        $('li.exclude').live('click',removeExc);
        $(':button').click(function() {
            if (this.id == "add_inc") {
                $(this).parent().before("<li><input id='new_inc' type='text'/></li>");
                $("#new_inc").keypress(addNewInc).focus();
                disableButton("#add_inc");
            } else if (this.id == "add_exc") {
                $(this).parent().before("<li><input id='new_exc' type='text'/></li>");
                $("#new_exc").keypress(addNewExc).focus();
                disableButton("#add_exc");
            } else if (this.id == "add_all") {
                addAllIps();
            } else if (this.id == "save_changes") {
                saveChanges();
            }
        })
    });
</script>
{% endblock %}


{% block main_body %}
<h1>False Positive - Modify</h1>
<h2>{{ plugin.summary }} - Nessus ID <a href="{% url plugin plugin.nessusid 'latest' %}">{{ plugin.nessusid }}</a></h2>
<ul id="messages">
</ul>
<table>
    <tr>
        <th>Entered by</th><td>{{ fp.added_by }}</td>
    </tr>
    <tr>
        <th>Added on</th><td>{{ fp.date_added|date:"F j, Y \a\t P" }}</td>
    </tr>
    <tr>
        <th>Last modified</th><td>{{ fp.last_modified|date:"F j, Y \a\t P" }}</td>
    </tr>
    <tr>
        <th>Version affected</label></th><td>{{ plugin.version }}</td>
    </tr>
    <tr>
        <th><label for="id_comments">Comments</label></th><td><textarea name="comments" id="id_comments">{{ fp.comment }}</textarea></td>
    </tr>
</table>
<button id="save_changes">Save Changes</button>

<h2>IPs Included</h2>

<h3 id="allips" {% if not fp.include_all %}style="display: none;"{% endif %}>All IPs are marked as false positives</h3>
<ul id='fp_includes'>
{% for ip in fp.includes.all %}
    <li class='include'>{{ ip }}</li>
{% endfor %}
<li class='button_holder'><button id="add_inc">Add New IP</button>
<button id="add_all" {% if fp.include_all %}style="display:none;"{% endif %}>Add All IPs</button>
</li>
</ul>

<h2>IPs Specifically Excluded</h2>
<ul id='fp_excludes'>
{% for ip in fp.excludes.all %}
    <li class='exclude'>{{ ip }}</li>
{% endfor %}
<li class='button_holder'><button id="add_exc">Add New IP</button></li>
</ul>

{% endblock %}
