{% extends 'base.html' %}

{% block extra_head %}
<script type="text/javascript">
    $(document).ready(function() {
        {% ifequal view 'by_vuln' %}
        $("#main_body").load('{% url ips_by_vuln %}?{{ url }}'
        {% endifequal %}


        var replaceSpanWithTextbox = function () {
            $("#dayselect").unbind('click');
            this.innerHTML = "<input id='txtDay' type='text' style='width: 10px;'></input>";
            var txtDay = $('#txtDay');
            txtDay.focus();
            txtDay.keypress(function (e) {
                if (e.which == 13) {
                window.location = "{% url index %}{% ifequal subtitle "By IP" %}?view=ip&{% else %}?{% endifequal %}days=" + $("#txtDay").val();
                }
            });
        }

        $('#dayselect').click(replaceSpanWithTextbox);
    });

</script>
{% endblock %}

{% block sidebar %}
<li class='sidenav_heading'>Arrange by</li>
<li><a href="{% url index %}">Vulnerability</a></li>
<li><a href="{% url index %}?view=ip">IP</a></li>
{% endblock %}

{% block main_body %}
<h1>Vulnerabilities</h1>
<h2>All vulnerabilities within the past <span id="dayselect">{{days_back}}</span> day{{ days_back|pluralize }}</h2>
{% endblock %}
