{% extends 'base.html' %}
{% load subscription_utils %}

{% block extra_head %}
<script type="text/javascript">
    function do_subscribe(type, id) {
        $.post('{% url subscribe %}', {'type': type, 'id': id},
            function(data,textStatus) {
                if(data.result == "success") {
                    return true;
                } else {
                    alert(data.message);
                    return false;
                }
            },
            "json"
        );
    }

    function do_unsubscribe(type, id) {
        $.post('{% url unsubscribe %}', {'type': type, 'id': id},
            function(data,textStatus) {
                if(data.result == "success") {
                    return true;
                } else {
                    alert(data.message);
                    return false;
                }
            },
            "json"
        );
    }

    $(document).ready(function() {
            $("input[type=checkbox]#toggle_subscribe").click(function() {
                if (this.checked) {
                    if (!do_subscribe('{{dev_type}}', '{{entry}}')) {
                        //Subscribe failed
                        this.checked = true;
                    }
                } else {
                    if (!do_unsubscribe('{{dev_type}}', '{{entry}}')) {
                        //Unsubscribe failed
                        this.checked = false;
                    }
                }
            });

            $("a.fp_create").click(function() {
                    include = this.parentNode.include.value;
                    nessusid = this.parentNode.nessusid.value;
                    $.post('{% url fp_create_ajax %}', {'include':include, 'nessusid':nessusid},
                        function(data, textStatus) {
                        if(textStatus == "success" && data.result == "success") {
                        var formobj = $("#fp_create_"+data.nessusid);
                        var row = formobj.parent();
                        row.addClass(' falsepositive');
                        formobj.remove();
                        } else {
                        alert(data.error);
                        }
                        },
                        "json"
                        );
                    });

            $("a#link_add_comment").click(function() {
                    comment = prompt("Add comment for {{ entry }}", "Type your comment here");
                    if (comment == null || comment == "Type your comment here" || comment == "") {
                        return false;
                    }

                    $.post('{% url add_comment subtitle entry %}', {'comment':comment},
                        function(data, textStatus) {
                            if(textStatus == "success" && data.result == "success") {
                                $('ul#comment_list').prepend("<li>{{ user }} - Just now<br>"+comment+"</li>");
                            } else {
                                alert("Comment not saved. Error " + data.error);
                            }
                        },
                            "json"
                        );

                    return false;
                    });
    });
</script>    
{% endblock %}

{% block sidebar %}
<li class="sidenav_heading">History</li>
{% url device entry as devurl %}
<li><a href="{{ devurl }}?days=7">1 week</a></li>
<li><a href="{{ devurl }}?days=14">2 weeks</a></li>
<li><a href="{{ devurl }}?days=28">4 weeks</a></li>
<li><a href="{{ devurl }}?days=0">All data</a></li>

{% endblock %}

{% block main_body %}
<h1>Database results for {{ entry }}</h1>
<h2>Device information</h2>
<table>
    <tr>
    {% if gator_info %}
        <th>Owner</th><td>
            {% if gator_info.username %}
            <a href="mailto:{{gator_info.username}}@jlab.org?Subject=Vulerabilites on {{ entry }}">{{gator_info.username}}@jlab.org</a>
            {% else %}
            No Owner Available
            {% endif %}
        </td>
    {% endif %}
    </tr>
    <tr>
        {% if most_frequent_user %}
        <th>Most Frequent User</th><td>
            <a href="mailto:{{most_frequent_user}}@jlab.org?Subject=Vulerabilites on {{ entry }}">{{most_frequent_user}}@jlab.org</a>
        </td>
        {% endif %}
    </tr>
    <tr><td colspan=2><label for="toggle_subscribe">Subscribe</label><input id="toggle_subscribe" type="checkbox" {% if user|subscribed_to:entry %}checked='true'{%endif%}></input>
    </table>
    <h2>Comments <a id="link_add_comment" href="#">[add]</a></h2>
    <ul id="comment_list">
    {% for comment in comments %}
            <li>{{ comment.user }} on {{comment.entered|date:"F j, Y @ P"}}<br>{{comment.comment}}</li>
    {% endfor %}
    </ul>
    </tr>

<h1>Scan Information</h1>
{% ifequal days_back 0 %}
<h2>All information available</h2>
{% else %}
<h2>{{ days_back }} days of information</h2>
{% endifequal %}

<h3>{{ entries|length }} {{category}} association{{ entries|length|pluralize }} found</h3>
{% if entries %}
<ul class='entry_list'>
    {% for entry,entry_data in entries.items %}
    <li class='entry_item'><h3>
        {% ifequal entry_data.name 'NoNameAvailable' %}
        No {{entry_data.hr_name}} Available
        {% else %}
        <a href='{% url device entry_data.name %}?days={{ days_back }}'>{{entry_data.name}}</a>
        {% endifequal %}
        {% if entry_data.alt_name %}
        (<a href='{% url device entry_data.alt_name %}?days={{days_back}}'>{{ entry_data.alt_name }}</a>)
        {% endif %}
    </h3></li>
    {% for comment in entry_data.comments %}
    {% if forloop.first %}
    <div class='comments'>
        <h3>Comments</h3>
    {% endif %}
        <div class='comment'>
            <span class='author'><b>{{ comment.user }} on {{ comment.entered|date:"m/j/Y \a\t P " }}</b></br></span>
            <span class='content'>{{ comment.comment }}</span>
    {% endfor %}

            {% ifnotequal entry_data.scans|length 0 %}
            <ul class='scan_list'>
                <h3 class='scan_header'>Found {{ entry_data.vuln_total }} vulnerabilit{{ entry_data.vuln_total|pluralize:"y,ies" }} in {{ entry_data.scans|length}} scan{{ entry_data.scans|length|pluralize }}.</h3>
                {% for scan, vulns in entry_data.scans %}
                <li class='scan_item'><a href='{% url scan scan.scanrun_id %}'>[{{ scan.scanrun.scanset.type }}]</a>: {{ scan.end|date:"F j, Y - g:i:s A" }}</li>
                {% if vulns %}
                <ul>
                    {% for name, plugin, fpflag in vulns %}
                    <li class='vuln_item {% if fpflag %}falsepositive{% endif %}'>{{ name }} (<a href='{% url plugin plugin 'latest' %}'>{{plugin}}</a>)
                    {% if not fpflag  %}
                    <form id='fp_create_{{plugin}}' class='fp_create' method='POST'>
                        <input type='hidden' value='{{ entry_data.name }}' name='include'>
                        <input type='hidden' value='{{ plugin }}' name='nessusid'>
                        {% if perms.sarimui.add_falsepositive %}
                        [<a id="{{plugin}}" href="#" class='fp_create'>Flag as False Positive</a>]
                        {% endif %}
                    </form>
                    {% endif %}
                    </li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endfor %}
        </ul>
        {% else %}
        <div class='empty'>No scans for this MAC</div>
        {% endifnotequal %}
        </li>
        {% endfor %}
        {% else %}
        <h2>{{ ip }} has no scan history</h2>
        {% endif %}
        {% endblock %}
