/* General settings. */
html { margin: 0px; padding: 0px; }

body
{
	color: #000;
	background-color: #fff;
	font-family: Ariel, Helvetica, sans-serif;
	padding: 0px;
	padding-right: .5em;
	margin: 0px;

}
div.clear{ clear:both;}


a:link { color: #2B4E86; }
a:visited { color: #2B4E86;}
a:active { color:#ff0000;}
a:hover { color: #99334A; }

acronym { cursor: help; }

p { 
	margin-top: 0px;
	padding-left: 15px;
	padding-right: 20px;
}

p.first { 
	padding-top: 20px;
}

#banner
{
	background-color: black;
	clear: both;
}

.skiplink {
	display: none
}

div.clear { clear: both;position:relative; }
	
.clear {
	clear: both;position:relative;
	}
.hide {
	display: none;
}

/* Top of the Page information for the future 
switched to height: em for text resizing

***  ***
*/
#jlabheader {
	/* Top Right Bottom Left */
	padding: 3px 3px 3px 20px;
	background-color: #2b4e86;
	color: #fff;
	font-weight: bold;
	font-size: smaller;
	vertical-align: middle;
	height: 1.5em;
}

#jlabheader a {
	color: #fff;
	text-decoration: underline;
}
	
#header {
	background-color:white;
}

/* ***  *** */
h1 {
	background-color: #D4BFA9;
	padding-left: 10px;
	padding-top: 5px;
	color: #000000;
	font-size: 1.1em;
	font-weight: bold;
	margin-bottom:0px;
	margin-top:0px;
}

h2 {
	border-bottom: #D0C0A0 2px solid;
	color: #2b4e86;
	font-size: 1em;
	padding-left: 10px;
	font-weight: bold;
}

h3 {
	color: #2b4e86;
	font-size: 1em;
	padding-left: 10px;
	font-weight: bold;
}

/* Have to put background-color on everything for left column look
need this if nav length < content */
/*
***  ***
*/
#content {
	background-color: #F4EFE1;
}


/* Makes border around main body. Color:  border */
#main_body {
	background-color: #ffffff;
	color: #000000;
	padding-bottom: 10px;
	margin-top: 0px;
	margin-left: 200px;
	/* for IE bug when table 100% */
	height:1%;
}

#main_body p, p#main_body { padding-left: 25px; }

/* Makes background color of sidebar.
aligned to the left
 */
#sidebar {
	background-color: #F4EFE1;
	margin-right: 0px;
	width: 200px;
	float: left;
	height: 100%;
	padding-bottom: 20px;
}

#sidebar p {
	font-size: smaller;
	padding-top: 10px;
}

#sidebar a { text-decoration: none; }

/* Tabs along the top */
ul#main_navigation,
#main_navigation ul {
	list-style:none;
	display: inline;
	white-space: nowrap;
	margin: 0; 
	padding: 0; 
	clear: both;
	position:relative;
}


/* 
************************** 
***  *** borders
***  *** tab
************************** 
*/
li#main_navigation,
#main_navigation li {
    display: inline;
	background-color: #6896c7;
	border-bottom: #ECA 1px solid;
	border-right: #ECA 1px solid;
	border-top: #ECA 1px solid;
	font-weight: bold;
	color: white;
    clear: both;
	font-size: smaller;
	margin: 0;
	padding: 2px 20px 2px 20px;
}
	
li#main_navigation a,
#main_navigation li a {
	color: white;
    clear: both;
    text-decoration: none;
}
	
/* Top navigation selected 'button'.  */
.main_navigation_current {
	background-color: #2b4e86;
    clear: both;position:relative;text-align:right;height:26px;
}

/* ***  *** */
li#main_navigation_current,
#main_navigation_current li {
    display: inline;
	background-color: #2b4e86;
	border-bottom: #324c67 1px solid;
	border-right: #eca 1px solid;
	border-top: #eca 1px solid;
	font-size: smaller;
	font-weight: bold;
	color: white;
    clear: both;
	margin: 0;
	padding: 2px 20px 2px 20px;
}

li#main_navigation_current a,
#main_navigation_current li a {
	color: white;
    clear: both;
	text-decoration: none;
}
	
/* side navigation styles */
/* ***  *** */
.nav_heading {
	background-color: #2b4e86;
	color: white;
    clear: both;
	padding-left: 20px;
	border-bottom: #000 1px solid;
	margin-bottom: 0px;
	margin-top:0px;
	font-size: smaller;
	padding-top: 3px;
	padding-bottom: 3px;
}

.nav_heading a {
	color: white;
    clear: both;
	}

/* text in the left navigation */
.nav_sub {
	padding-left: 2.3em;
	padding-top: 0.5em;
	font-size: 0.8em;
	padding-bottom: 1em;
	margin: 0px;
	list-style-type: disc;
}

.nav_sub li {
	padding-bottom: .4em;
}

/* 
***  ***
*/
.pullquote {
	width: 250px;
	float: right;
	background-color: #d4bfa9;
	margin-top: 0px;
	color: black;
	margin-left: 15px;
	margin-bottom: 20px;
	font-weight: normal;
	font-size: smaller;
}

div.row span.left {}

#footer {
	background-color: #2b4e86;
	color: white;
	clear: both;
	position: relative;
	bottom: 0;
	padding: 5px 20px 0px 20px;
	height: 3.5em;
	font-size: smaller;
}
#ffooter {
	background-color: #3B656A;
	color: white;
    clear: both;
	padding: 5px 20px 0px 20px;
	font-size: smaller;
}
#footer a { 
	color: white;
    clear: both;
	text-decoration: underline;
}
#ffooter a { 
	color: white;
	clear: both;
	text-decoration: underline;
}
.left {
	text-align: left;
	float: left;
	}

.left a { color: white; }

.lefth {
	text-align: left;
	float: left;
	color:white;
	height:85px;
	width:445px;
	}

	
.right {
	text-align: right;
	float: right;
	margin: 0px;
	}
	
	
/* For the search form  */
.right form {
	margin: 0px;
	padding: 10px 10px 0px 0px;
	font-size: 11px;
	vertical-align: middle;
	}
	
.right form input {
	font-size: 11px;
	vertical-align: middle;
	}
	
.right form select {
	font-size: 11px;
	vertical-align: middle;
	}
	

.padit li {padding-bottom:8px;}



/* --------------------------------------------- */
/* The settings below were added by B.Morris
/* ----------------------------------------------*/
hr {
	margin-top: 15px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #D4BFA9;
	border-right-color: #D4BFA9;
	border-bottom-color: #D4BFA9;
	border-left-color: #D4BFA9;
	border-top-width: 1px;
	height: 1px;
}

div.greyboxcontainer {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 50;
}

div.greybox {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: black;
	opacity: 0.3;
	filter: alpha(opacity=30);
}

img#loading {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: -1;
	height: 66;
	width: 66;
	margin: -33px auto auto -33px;
}

table.block {
	background-color: #F4EFE1;
	margin-left: 50px;
	/* margin-left: auto;
	margin-right: auto; */
	text-align: center;
	border-collapse: collapse;
}

table.block th {
	vertical-align: top;
	font-family: Verdana,Sans;
	font-size: 10pt;
	font-weight: bold;
	text-align: center;
	padding: 5px 15px 5px 15px;
	white-space: nowrap;
	border-bottom: 3px double black;
}

table.block td {
	vertical-align: top;
	text-align: left;
	font-family: Verdana,Sans;
	font-size: 10pt;
	padding: 5px 15px 5px 15px;
	white-space: nowrap;
	border-bottom: 1px dotted gray;
}
