{% extends 'vulnerabilities/vuln_view.html' %}
{% load comparisons %}
{% load utils %}
{% load sarimutils %}

{% block main_body %}
<h1>Vulnerabilities</h1>
<h2>All vulnerabilities within the past 7 days</h2>
        <table class='block'>
            <tr><th>Nessus ID</th><th>IP Address</th><th>Hostname</th><th>Scan Type</th><th>Last Found</th><th>Scan ID</th></tr>
            {% for vuln in vuln_list %}
            {% for ip, result, scantype, fpflag in vuln.ips %}
            {% if forloop.first %}
                <tr>
                    <th rowspan={{ vuln.ips|length }}>
                        <center>
                            {{vuln.vname}}</br>
                            <div>
                                {% with plugin_list|hash:vuln.vid as plug %}
                                <a title="{{ plug.summary }}" href="{% url plugin vuln.vid 'latest' %}">{{ vuln.vid }}</a>
                                {% endwith %}
                            </div>
                            {% if vuln.ips|length_gt:4 %}
                            Afflicts {{ vuln.ips|length }} devices
                            {% endif %}
                        </center>
                    </th>
                    {% else %}
                        <tr>
                            {% endif %}
                            <td {% if fpflag %}class='falsepositive'{%endif%}><a href="{% url device ip %}">{{ ip }}</a></td>
                            {% with hostname_list|hash:ip as hname %}
                            <td {% if fpflag %}class='falsepositive'{%endif%}>{% ifequal hname 'NA' %}N/A{%else%}<a href="{% url device hname %}">{{ hname }}</a>{% endifequal %}</td>
                            {% endwith %}
                            <td {% if fpflag %}class='falsepositive'{%endif%}>{{ scantype }}</td>
                            <td {% if fpflag %}class='falsepositive'{%endif%}>{{ result.end|date:"F j, Y" }}</td>
                            <td {% if fpflag %}class='falsepositive'{%endif%}><a href="{% url scan result.scanrun_id %}">{{ result.scanrun_id }}</a></td>
                        </tr>
                        {% endfor %}
                        {% endfor %}
                    </table>
                    {% endblock %}
