{% extends 'vulnerabilities/vuln_view.html' %}
{% load utils %}

{% block main_body %}
{{ block.super }}
<table class='block'>
    <tr><th>IP Address</th><th>Vulnerability</th><th>Nessus ID</th><th>Scan Type</th><th>Last Found</th><th>Scan ID</th></tr>
    {% for ip in vuln_list %}
    {% for vuln, result, scantype, fpflag in ip.resmap %}
        <tr>
            {% if forloop.first %}
            <th rowspan={{ip.resmap|length}}>
                <a href="{% url device ip.ip %}">{{ ip.ip }}</a><br>
                {% with hostname_list|hash:ip.ip as hname %}
                <a href="{% url device hname %}">{{ hname }}</a>
                {% endwith %}
            </th>
            {% endif %}
            <td {% if fpflag %}class="falsepositive"{% endif %}>{{ vuln.0 }}</td>
            <td {% if fpflag %}class="falsepositive"{% endif %}><a href="{% url plugin vuln.1 'latest' %}">{{ vuln.1 }}</a></td>
            <td {% if fpflag %}class="falsepositive"{% endif %}>{{ scantype }}</td>
            <td {% if fpflag %}class="falsepositive"{% endif %}>{{ result.end|date:"F j, Y" }}</td>
            <td {% if fpflag %}class="falsepositive"{% endif %}><a href="{% url scan result.scanrun_id %}">{{ result.scanrun_id }}</a></td>
        </tr>
        {% endfor %}
        {% endfor %}
    </table>
    {% endblock %}
