<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

    <head>
        <title>JLab Cyber Security : {{ pagetitle }} - {{ subtitle }}</title>
        <link rel="stylesheet" type="text/css" href="{% url django.views.static.serve 'css/defstyle.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% url django.views.static.serve 'css/sarim.css' %}"/>
        {% block extra_head %}
        {% endblock %}
    </head>

    <body>
        <!-- Page Header -->
        <div id="banner">
            <div class="lefth">
                <a href="{% url reaper.sarimui.views.index %}"><img src="{% url django.views.static.serve 'images/logo.jpg' %}" alt="Jefferson Lab Cyber Security" border="0" height="85" width="565" /></a>
            </div>

            <!-- Main Tab Navigation.  -->
            <div class="clear">
                <ul id="main_navigation">
                    {% ifequal pagetitle 'Vulnerabilities' %}
                    <li id="main_navigation_current">
                    {% else %}
                    <li>
                    {% endifequal %}
                    <a href="{% url sarimui.views.index %}">Vulnerabilities</a>
                    </li>

                    {% ifequal pagetitle 'Device Information' %}
                    <li id="main_navigation_current">
                    {% else %}
                    <li>
                    {% endifequal %}
                    <a href="{% url sarimui.views.device_search %}">Device Information</a>
                    </li>

                    {% ifequal pagetitle 'False Positives' %}
                    <li id="main_navigation_current">
                    {% else %}
                    <li>
                    {% endifequal %}
                    <a href="{% url sarimui.views.index %}">False Positives</a>
                    </li>

                </ul>
            </div>

            <div class="main_navigation_current"></div>
        </div>

        <!-- Sidebar and Main Body --> 
        <div id="content">
            <!-- Sidebar -->
            <div id="sidebar">
                <ul class="nav_sub">
                {% block sidebar %}
                {% endblock sidebar %}
                </ul>
            </div>

            <!-- Main Body -->
            <div id="main_body"><a name="startcontent" id="startcontent"></a>
                {% block main_body %}
                {% endblock %}
                <IMG src="{% url django.views.static.serve 'images/onepixel.gif' %}" height=20 width=1 border=0>
            </div>

        </div>
        <!-- Page Footer -->
        <div id="footer">
            {% block footer %}
            <div class="right">
                Cyber Security Group<br>

                Thomas Jefferson National Accelerator Facility
            </div>
            {% endblock %}
        </div>
    </body>
</html>


