{% extends 'base.html' %}

{% block extra_head %}
<script language="javascript" type="text/javascript">
   function GoToURL() {
        var url = document.getElementById('searchText').value;
        var btn = document.getElementById('searchButton');
        btn.value = "Searching...";
        document.getElementById('searchText').disabled = true;
        location.href = '{% url sarimui.views.device_search %}?q=' + url;
    } 

    function keyDownHandler(e,btn) {
        if (e.keyCode == 13) {
            e.returnValue = false;
            e.cancel = true;
            btn.click();
        }
    }
</script>
{% endblock %}

{% block main_body %}
<div id="search" style="width:100%;min-height:250px;text-align:center;">
    <div id="searchBox">
    <p>Enter an IP Address, MAC address, or hostname</p>
    <input type='text' id='searchText' size=64 onKeyDown="keyDownHandler(event,document.getElementById('searchButton'));">
    <input type='button' id='searchButton' onClick="javscript:GoToURL();" value="Search">
</div>
    {% for r in results %}
    {% if forloop.first %}
    {{ results|length }} result{{ results|length|pluralize}}
    <ul id="results" style="width:{{result_width}}px;height:{{ result_height }}px;">
        {% endif %}
        <li><a href="{% url sarimui.views.device_view r%}">{{ r }}</a></li>
        {% if forloop.last %}
    </ul>
    {% endif %}
    {% endfor %}

    {% if errors or warnings or messages %}
    <ul id="messages">
        {% for e in errors %}
        <li class="error">{{ e }}</li>
        {% endfor %}
        {% for w in warnings %}
        <li class="error">{{ w }}</li>
        {% endfor %}
        {% for m in message %}
        <li class="message">{{ m }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock%}
