{% extends 'vuln_view.html' %}
{% load comparisons %}

{% block main_body %}
<h1></h1>
<h2>Vulnerabilities</h2>
        <table class='block'>
            <tr><th>Nessus ID</th><th>IP Addresses</th><th>Scan Type</th><th>Last Found</th><th>Scan ID</th></tr>
            {% for vuln in vuln_list %}
            {% for ip, result, scantype, fpflag in vuln.ips %}
            {% if forloop.first %}
            {% if fpflag %}
            <tr class="falsepositive">
                {% else %}
                <tr>
                    {% endif %}
                    <th rowspan={{ vuln.ips|length }}>
                        <center>
                            {{vuln.vname}}</br>
                            <div>
                                <a href="{% url reaper.sarimui.views.plugin_info_view vuln.vid 'latest' %}">{{ vuln.vid }}</a>
                            </div>
                            {% if vuln.ips|length_gt:4 %}
                            Afflicts {{ vuln.ips|length }} devices
                            {% endif %}
                        </center>
                    </th>
                    {% else %}
                    {% if fpflag %}
                    <tr class="falsepositive">
                        {% else %}
                        <tr>
                            {% endif %}
                            {% endif %}
                            <td><a href="{% url reaper.sarimui.views.dashboard_ip_view ip %}">{{ ip }}</a></td>
                            <td>{{ scantype }}</td>
                            <td>{{ result.end|date:"F j, Y" }}</td>
                            <td><a href="{% url reaper.sarimui.views.scan_view result.scanrun_id %}">{{ result.scanrun_id }}</a></td>
                        </tr>
                        {% endfor %}
                        {% endfor %}
                    </table>
                    {% endblock %}
