{% extends 'base.html' %}
{% load subscription_utils %}
{% load comparisons %}

{% block extra_head %}

<script type='text/javascript'>
    function check_all() {
        $('input.vlan-chk').attr('checked', true);
    }

    function check_none() {
        $('input.vlan-chk').removeAttr('checked');
    }

</script>
{% endblock %}

{% block main_body %}
<h1>Subscriptions
<p class='helptext'>Subscribing to devices allows you to receive filtered lists of updates about machines.<br>
Such updates include vulnerabilities and comments involving machines you subscribe to.<br>
Use this page to change your subscription settings</p></h1>
<div id="active_subs">
    <h2>Subscribed to...</h2>
    <div class="vlan_list">
        <h2>VLANs <sub style="float:right;">(Select <a href="javascript:check_all();">All</a> or <a href="javascript:check_none();">None</a>)</sub></h2>
        <div class="{{vlan_msg_type}}" id="vlan_list_messages">
            {{vlan_msg}}
        </div>
        <form method="POST">
            {% for v in vlans %}
            {% ifequal forloop.counter0|mod:10 0 %}
            <ul class="vlans">
            {% endifequal %}
                <li>
                    <input class="vlan-chk" value='{{v.vlan_id}}' name='vlans' type='checkbox' id='chk-vlan-{{v.vlan_id}}' {% if user|subscribed_to:v %}checked='true'{%endif%}/>
                    <label title='{{v.network}} - {{v.purpose}}' for="chk-vlan-{{v.vlan_id}}">{{v.vlan_id}}</label>
                </li>

            {%if forloop.last%}
                <li><input id="vlan-submit" type="submit" value="Save"></li>
            </ul>
            {% else %}
                {% ifequal forloop.counter|mod:10 0 %}
                    </ul>
                {% endifequal %}
            {% endif %}
            {% endfor %}
        </form>
    </div>
    <div id="list_subs_wrapper">
        <div class="subs_list">
            <h2>IPs</h2>
            <ul class="subs_content">
                {% for ip_sub in subscribed_ips %}
                    {% with ip_sub.content_object as ip %}
                    <li id="ip-{{ip_sub}}" class="subscribed">
                        <a href="{% url device ip %}">{{ ip }}</a>
                    </li>
                    {% endwith %}
                {% empty %}
                <li id="no-subscribed_ip">No Subscriptions</li>
                {% endfor %}
            </ul>
        </div>
        <div class="subs_list">
            <h2>Hostnames</h2>
            <ul class="subs_content">
                {% for host_sub in subscribed_hosts %}
                    {% with host_sub.content_object as host %}
                    <li id="host-{{host}}" class="subscribed">
                        <a href="{% url device host %}">{{ host }}</a>
                    </li>
                    {% endwith %}
                {% empty %}
                <li id="no-subscribed_host">No Subscriptions</li>
                {% endfor %}
            </ul>
        </div>
        <div class="subs_list">
            <h2>MACs</h2>
            <ul class="subs_content">
                {% for mac_sub in subscribed_macs %}
                    {% with mac_sub.content_object as mac %}
                    <li id="mac-{{mac}}" class="subscribed">
                        <a href="{% url device mac %}">{{ mac }}</a>
                    </li>
                    {% endwith %}
                {% empty %}
                <li id="no-subscribed_mac">No Subscriptions</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
