/* style information for: rooms.php */

table.block td {
        border-right: 1px dotted gray;
        text-align: center;
}

.search {
	margin-left: 10px;
	margin-top: 25px;
	padding-left: 20px;
	padding-top: 0px;
}

.search h3 {
	font-size: 14px;
	margin-left: -20px;
}

.search hr {
	margin-left: -14px;
}
