{% extends 'base.html' %}

{% block sidebar %}
{% include 'false_positives/fp_sidebar.html' %}
{% endblock %}

{% block extra_head %}
<script type="text/javascript">
    var addNewInc = function(event) {
        if(event.which == 13) {
            $.ajax( {
                url: '{% url fp_modify_ajax %}',
                type: 'POST',
                error: function(xhr, txtStatus, error) { $('#new_inc').animate({ backgroundColor: 'red'}).effect('pulsate',{},'fast'); },
                success: function(data, txtStatus) {
                    $('#new_inc').replaceWith(data.ip);
                    $('#add_inc').get().disabled = false;
                    },
                dataType: "json",
                data: { fp: '{{fp.id}}',
                        action: 'add_inc',
                        data: $('#new_inc').val()
                        }
            });
        }
    }

    var addNewExc = function() {
        alert(this.value);
    }

    $(document).ready(function() {
        $(':button').click(function() {
            $('#add_inc').get().disabled = true;
            if (this.id == "add_inc") {
                $(this).parent().before("<li><input id='new_inc' type='text'/></li>");
                $("#new_inc").keypress(addNewInc);
            } else if (this.id == "add_exc") {
                    alert("Excluding IP");
            }

        })
    });
</script>
{% endblock %}


{% block main_body %}
<h1>False Positive - Modify</h1>
<h2>{{ plugin.summary }} - Nessus ID <a href="{% url plugin plugin.nessusid 'latest' %}">{{ plugin.nessusid }}</a></h2>
<form name="fp_edit" method="POST">
<table>
    <tr>
        <th><label for="id_added_by">Entered by</label></th><td><input name="added_by" id="id_added_by" type='text' value='{{ fp.added_by }}'/></td>
    </tr>
    <tr>
        <th>Added on</th><td>{{ fp.date_added|date:"F j, Y \a\t P" }}</td>
    </tr>
    <tr>
        <th>Last modified</th><td>{{ fp.last_modified|date:"F j, Y \a\t P" }}</td>
    </tr>
    <tr>
        <th><label for="id_version">Version affected</label></th><td><input name="version" type='text' id="id_version" value='{{ plugin.version }}'/></td>
    </tr>
    <tr>
        <th><label for="id_comments">Comments</label></th><td><textarea name="comments" id="id_comments">{{ fp.comment }}</textarea></td>
    </tr>
</table>
<input type='submit' value='Save Changes'></button>
</form>

<h2>IPs Included</h2>
{% if fp.includes_all %}
<h3>All IPs are marked as false positives</h3>
{% else %}
    {% for ip in fp.includes.all %}
        {% if forloop.first %}
        <ul id='fp_includes'>
        {% endif %}
            <li>{{ ip }}</li>
        {% if forloop.last %}
            <li><button id="add_inc">Add New IP</button></li>
        </ul>
        {% endif %}
    {% endfor %}
{% endif %}

<h2>IPs Specifically Excluded</h2>
<ul id='fp_excludes'>
{% for ip in fp.excludes.all %}
    <li>{{ ip }}</li>
{% endfor %}
    <li><button id="add_exc">Add New IP</button></li>
</ul>

{% endblock %}
