<li class='sidenav_heading'>Manage</li>
{% ifequal subtitle 'Details' %}
<li>View</li>
{% else %}
<li><a href="{% url fp_detail fp.id %}">View</a></li>
{% endifequal %}

{% if perms.sarimui.change_falsepositive %}
{% ifequal subtitle 'Modify' %}
<li>Modify</li>
{% else %}
<li><a href="{% url fp_modify fp.id %}">Modify</a></li>
{% endifequal %}
{% endif %}

{% if perms.sarimui.delete_falsepositive %}
{% ifequal subtitle 'Delete' %}
<li>Delete</li>
{% else %}
<li><a href="{% url fp_delete fp.id %}" onclick="javascript:return confirm('Delete this false positive?');">Delete</a></li>
{% endifequal %}
{% endif %}
